body {
    background: white;
    margin: 0;
    transition: 1s;
}

header {
    height: 7vh;
    display: flex;
    background: #e7c6ff;
    align-items: center;
}

.logo {
    width: 170px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 23px;
    letter-spacing: 0.05em;
    color: white;
    text-shadow: 4px 3px 0 rgba(0, 0, 0, 0.08),
    5px 4px 0 rgba(0, 0, 0, 0.11);
    padding: 0 20px;
}

h1 {
    margin: 0;
}

.start-page {
    height: 86vh;
    min-height: 460px;
    background: #c77dff;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
}

.wrapper-start-page {
    margin: auto;
}

section {
    margin: 0;
}

.offer {
    width: 685px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 112.5%;
    color: #FFFFFF;
    text-align: center;
    text-shadow: 4px 3px 0 rgba(0, 0, 0, 0.08),
    5px 4px 0 rgba(0, 0, 0, 0.11);
    margin: auto;
}

.container {
    display: flow-root;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 440px;
    height: 350px;
    background: #FFFFFF;
    border-radius: 15px;
    text-align: center;
    margin: 35px auto;
    transition: all .5s ease-out;
    position: relative;
}

.container-wrapper {
    width: 100%;
    height: 100%;
    display: inline-block;
    margin: auto;
}

input::placeholder {
    font-family: 'Istok Web', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #696969;
}

.input:focus {
    background: #fff5ed;
    border: 1px solid #ffffff;
}

.input:hover {
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
}

input {
    display: block;
    cursor: pointer;
    font-size: 18px;
}

button {
    cursor: pointer
}

label {
    display: block;
}

#minValue, #maxValue, #attempts {
    width: 335px;
    height: 42px;
    border-radius: 15px;
    border: 1px solid #FFA8B7;
    font-size: 20px;
    text-align: center;
    margin: auto;
}

.min_num {
    margin-top: 25px;
}

.max_num {
    margin-top: 25px;
}

.attempts_num {
    margin-top: 25px;
}

.button-start-wrapper, .button-clear-wrapper {
    padding-top: 5px;
}

#btn-start:hover {
    background: rgba(0, 0, 0, 0);
    color: #CF6BA9;
    box-shadow: 0 0 2px 0 #CF6BA9 inset,
    0 0 3px 1px #CF6BA9;
}

#btn-start:active {
    box-shadow: 0 0.5px 0 rgba(0, 0, 0, 0.18) inset;
}

.rules-wrapper {
    width: 34px;
    align-items: center;
    text-align: center;
}

.rules {
    text-align: center;
    cursor: pointer;
    color: #FFFFFF;
    font-size: 16px;
    box-sizing: border-box;
    width: 50px;
    height: 30px;
    border: solid 1px gray;
    background: #ff8fa3;
    border-radius: 40px;
}

.instruction {
    display: none;
    width: 320px;
    background: #ffffff;
    box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 5px;
    z-index: 999;
    position: absolute;
    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.instruction p {
    text-align: justify;
    line-height: 25px;
    font-family: sans-serif;
}

.wrapper-lang {
    width: 70px;
    text-align: center;
}

.question-img{
    width: 23px;
    height: 23px;
}

#lang {
    text-align: center;
    cursor: pointer;
    color: #FFFFFF;
    font-size: 16px;
    box-sizing: border-box;
    width: 50px;
    height: 30px;
    border: solid 1px gray;
    background: #8187dc;
    border-radius: 40px;
}

.game-page {
    display: none;
    flex-direction: column;
    transition: 1s;

}

.fireworks-and-game-block {
    margin: 0 auto;
    display: flex;
}

.game-page-block {
    height: 86vh;
    background: #c77dff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-block {
    display: block;
    width: 595px;
    height: 540px;
    box-sizing: border-box;
}

.game-page-window {
    width: 440px;
    height: 170px;
    background: #FFFFFF;
    border-radius: 15px;
    text-align: center;
    margin: 18px auto;
    padding: 22px 0;
    box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.2);
}

.img {
    align-items: center;
    justify-content: center;
    display: none;
    transition: all .5s ease-out;
}

img {
    width: 270px;
    height: 505px;
}

h2 {
    color: #FFFFFF;
    margin: 0;
    padding-top: 10px;
}

.greetings {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 28px;
    width: 490px;
    margin: 0 auto;
    line-height: 41px;
    text-align: center;
    text-shadow: 4px 3px 0 rgba(0, 0, 0, 0.08),
    3px 2px 0 rgba(0, 0, 0, 0.11);
    word-wrap: break-word;
}

.total-number-of-attempts {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 28px;
    width: 490px;
    margin: 0 auto;
    line-height: 41px;
    text-align: center;
    text-shadow: 4px 3px 0 rgba(0, 0, 0, 0.08),
    3px 2px 0 rgba(0, 0, 0, 0.11);
    word-wrap: break-word;
}

.field-for-userValue {
    margin: auto;
    width: 326px;
}

#userValue {
    width: 320px;
    height: 50px;
    border-radius: 15px;
    border: 1px solid #FFA8B7;
    font-size: 20px;
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: space-around;
    margin: 10px 46px;
}

.btn-generate {
    width: 150px;
    height: 62px;
    border: none;
    background: #1DCA43;
    border-radius: 40px;
    color: white;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 1.8px 1.8px 0 0 rgba(0, 0, 0, 0.15);
}

.btn-generate:hover {
    background: rgba(0, 0, 0, 0);
    color: #36DB5A;
    box-shadow: 0 0 2px 0 #36DB5A inset,
    0 0 3px 1px #36DB5A;
}

.btn-generate:active {
    box-shadow: 0 0.5px 0 rgba(0, 0, 0, 0.18) inset;
}

.btn-generate:disabled {
    background: #EDEBEB;
}

#btn-start:disabled {
    background: #EDEBEB;
}

.btn-exit {
    width: 150px;
    height: 62px;
    border: 1px solid #EB676F;
    background-color: white;
    border-radius: 40px;
    color: #EB676F;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 1.8px 1.8px 0 0 rgba(0, 0, 0, 0.15);
}

.btn-exit:hover {
    background: #EB676F;
    color: #ffffff;
    box-shadow: inset 0 0 0 3px #EB676F;
}

.btn-exit:active {
    box-shadow: 0 0.5px 0 rgba(0, 0, 0, 0.18) inset;
}

#btn-change-subject {
    background: #ffdd32;
    width: 50px;
    height: 30px;
    border: solid 1px gray;
    border-radius: 40px;
    cursor: pointer;
}

.wrapper-btn-change {
    width: 70px;
    /*===*/
    cursor: pointer;
    text-align: center;
}

.error {
    height: 20px;
    padding-top: 20px;
    font-size: 20px;
}

.out {
    font-size: 24px;
    font-family: sans-serif;
    max-width: 425px;
    margin: 10px auto;
    color: white;
    font-weight: 800;
    text-align: center;
    text-shadow: 4px 3px 0 rgba(0, 0, 0, 0.08),
    3px 2px 0 rgba(0, 0, 0, 0.11);
    word-wrap: break-word;
}

.remaining-attempts {
    font-size: 24px;
    font-family: sans-serif;
    width: 95%;
    max-width: 335px;
    margin: 10px auto;
    color: white;
    font-weight: 800;
    text-align: center;
    text-shadow: 4px 3px 0 rgba(0, 0, 0, 0.08),
    3px 2px 0 rgba(0, 0, 0, 0.11);
    word-wrap: break-word;
}

.button {
    display: flex;
    justify-content: space-around;
    margin: 20px 46px;
}

.btn-wrapper-start-page {
    display: flex;
    justify-content: space-between;
    width: 342px;
    margin: 10px auto;
}

#btn-start {
    width: 160px;
    height: 48px;
    background: #8187dc;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .3),
    -23px 0 20px -23px rgba(0, 0, 0, .6),
    23px 0 20px -23px rgba(0, 0, 0, .6),
    inset 0 0 40px rgba(0, 0, 0, .1);
    border-radius: 40px;
    border: none;
    color: white;
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    font-weight: bold;
}

#btn-clear {
    width: 160px;
    height: 48px;
    border-color: #EB676F;
    background-color: white;
    border-radius: 40px;
    color: #EB676F;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .3),
    -23px 0 20px -23px rgba(0, 0, 0, .6),
    23px 0 20px -23px rgba(0, 0, 0, .6),
    inset 0 0 40px rgba(0, 0, 0, .1);
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    font-weight: bold;
}

#btn-clear:hover {
    background: #EB676F;
    color: #ffffff;
    box-shadow: inset 0 0 0 3px #EB676F;
}

#btn-clear:active {
    box-shadow: 0 0.5px 0 rgba(0, 0, 0, 0.18) inset;
}

footer {
    height: 7vh;
    width: 100%;
    background: #e7c6ff;
}

@media screen and (max-width: 768px) {

    .container {
        width: 400px;
        height: 300px;
    }

    .offer {
        font-size: 35px;
    }

    #minValue, #maxValue, #attempts {
        width: 330px;
        height: 30px;
        margin: auto;
    }

    #userValue {
        width: 300px;
        height: 30px;
        margin: auto;
    }

    #btn-clear, #btn-start {
        height: 34px;
        width: 150px;
    }

    .btn-generate, .btn-exit {
        height: 34px;
        width: 150px;
    }

    .game-block {
        height: 420px;
        width: 410px;
    }

    .buttons {
        margin: 10px;
    }

    .game-page-window {
        width: 370px;
        height: 120px;
    }

    .greetings, .total-number-of-attempts {
        width: 420px;
        font-size: 24px;;
        line-height: 30px;
    }

    .error {
        font-size: 18px;
        padding: 10px;
    }

    .instruction p {
        line-height: 23px;
        margin-top: 5px;
    }

    .out, .remaining-attempts {
        max-width: 420px;
        font-size: 24px;
        margin: 10px auto;
        line-height: 30px;
    }

    img {
        width: 160px;
        height: 404px;
    }

    .btn-wrapper-start-page {
        width: 340px;
        margin: auto;
    }
}

@media screen and (max-width: 1024px) {

    .container {
        width: 375px;
        height: 310px;
    }

    .instruction {
        width: 275px;
        height: 255px;
        top: 51.5%
    }

    .offer {
        font-size: 41px;
    }

    #minValue, #maxValue, #attempts {
        width: 310px;
        height: 37px;
        margin: auto;
    }

    #userValue {
        width: 300px;
        height: 30px;
        margin: auto;
    }

    .container-wrapper, .field-for-userValue {
        width: 100%;
    }

    #btn-clear, #btn-start {
        height: 37px;
        width: 145px;
    }

    .btn-generate, .btn-exit {
        height: 34px;
        width: 150px;
    }

    .game-block {
        height: 420px;
        width: 410px;
    }

    .buttons {
        margin: 5px;
    }

    .game-page-window {
        width: 340px;
        height: 110px;
    }

    .greetings, .total-number-of-attempts {
        width: 345px;
        font-size: 19px;;
        line-height: 30px;
    }

    .error {
        font-size: 18px;
        padding: 5px;
    }

    .instruction p {
        line-height: 23px;
        margin-top: 5px;
    }

    .out, .remaining-attempts {
        max-width: 345px;
        font-size: 19px;
        margin: 10px auto;
        line-height: 30px;
    }

    img {
        width: 175px;
        height: 367px;
    }

    .btn-wrapper-start-page {
        width: 310px;
        margin: auto;
    }

    .rules, #btn-change-subject, #lang {
        width: 40px;
        height: 24px;
        font-size: 13px;
    }
}

html:lang(ru) {
    color: #36DB5A;
}

@media screen and (max-width: 540px) {

    .instruction {
        width: 220px;
        height: 205px;
        font-size: 11px;
        line-height: 5px;
    }

    .container {
        min-width: 300px;
        height: 260px;
        width: 100%;
    }

    .offer {
        font-size: 30px;
    }

    #minValue, #maxValue, #attempts {
        width: 260px;
        height: 30px;
        margin: auto;
    }

    .start-page {
        min-height: 300px;
    }

    .offer {
        max-width: 300px;
    }

    img {
        display: none;
    }

    input::placeholder {
        font-size: 11px;
    }

    .input {
        font-size: 9px;
    }

    .btn-wrapper-start-page {
        width: 266px;
        justify-content: space-between;
    }

    #btn-clear, #btn-start {
        height: 30px;
        width: 122px;
        font-size: 15px;
    }

    .btn-generate, .btn-exit {
        height: 34px;
        width: 125px;
        margin: auto;
    }

    .rules, #btn-change-subject, #lang {
        width: 40px;
        height: 18px;
        font-size: 13px;
    }

    .greetings, .total-number-of-attempts {
        width: 297px;
        font-size: 17px;;
        line-height: 22px;
    }

    .game-page-window {
        width: 288px;
        height: 110px;
    }

    .game-block {
        height: 363px;
    }

    #userValue {
        width: 254px;
        height: 28px;
    }

    .buttons {
        height: 28px;
    }

    .error {
        font-size: 16px;
    }

    .btn-generate, .btn-exit {
        height: 28px;
        width: 119px;
    }

    .out, .remaining-attempts {
        font-size: 17px;
        line-height: 22px;
        max-width: 279px;
    }
}


