html{

    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

  body
  {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    background-color: white;
  }


/*body {
    width: 100%;
    height: 100%;
    background: white;
    margin: 0;
    padding-top: 50px;
    padding-bottom: 50px;
}*/

header, footer {
    height: 7vh;
}

.logo {
    width: 208px;
    height: 32px;
    left: 7%;
    top: 3%;

    font-family: 'Montserrat', sans-serif;
    font-style: bold;
    font-weight: 800;
    font-size: 20px;
    line-height: 29px;
    letter-spacing: 0.05em;

    color: #000000;
}

.start-page {
    width: 100%;
    height: 86vh;
    min-height: 560px;
    background: #FFA8B7;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    box-sizing: border-box;
}

section {
    margin: 0;
}

.offer {
    width: 685px;
    height: 200px;
    left: 7%;
    top: 45%;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 80px;
    line-height: 112.5%;

    color: #FFFFFF;
    text-shadow: -2px 2px 2px rgba(0, 0, 0, 0.25);
}

.window {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    width: 269px;
    height: 400px;
    top: 40%;
    left: 30%;
    
    background: #FFFFFF;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px; 

    text-align: center;
}

input, label {
    display: block;
}

#minValue {
    
    width: 209px;
    height: 42px;
    left: 10%;
    top: 10%;
}

.min_num {
   
    width: 209px;
    height: 42px;
    left: 10%;
    top: 20%;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;

    color: #000000;
    text-align: center;
}

#maxValue {
    
    width: 209px;
    height: 42px;
    left: 10%;
    top: 30%;
}

.max_num {
    
    width: 209px;
    height: 42px;
    left: 10%;
    top: 40%;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;

    color: #000000;
}

#attempts {
    
    width: 209px;
    height: 42px;
    left: 10%;
    top: 50%;
}

.attempts_num {
    
    width: 209px;
    height: 42px;
    left: 10%;
    top: 60%;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;

    color: #000000;
}

.button {
    display: flex;
    justify-content: space-around;
    margin: 20px 30px;
}

#btn-start {
    
    width: 209px;
    height: 62px;
    left: 11%;
    top: 72%;

    background: -webkit-linear-gradient(140.16deg, #4F5FE2 46.88%, #FFFFFF 112.25%);

    box-shadow: 0 1px 4px rgba(0, 0, 0, .3), 
    -23px 0 20px -23px rgba(0, 0, 0, .6), 
    23px 0 20px -23px rgba(0, 0, 0, .6), 
    inset 0 0 40px rgba(0, 0, 0, .1);

    border-radius: 40px;
    border: none;

    color: white;
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    font-weight: bold;
}

#btn-start:active {
    box-shadow: 0 4px 0 rgba(0, 0, 0, 0.18) inset;
}

output {
    display: block;
    margin: 8.5%;
}

form {
    display: flex;
    flex-wrap: wrap;
}