header {
    height: 7vh;
    display: flex;
    background: #ffee99;
}

.start-page {
    /*width: 100%;*/
    height: 86vh;
    min-height: 460px;
    background: #ffd400;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
}

.game-page-block {
    height: 86vh;
    background: #ffdd32;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    height: 7vh;
    background: #ffee99;
}

#minValue {
    width: 335px;
    height: 42px;
    border-radius: 15px;
    border: 1px solid #fe7f2d;
    font-size: 20px;
    text-align: center;
}

#maxValue {
    width: 335px;
    height: 42px;
    border-radius: 15px;
    border: 1px solid #fe7f2d;
    font-size: 20px;
    text-align: center;
}

#attempts {
    width: 335px;
    height: 42px;
    border-radius: 15px;
    border: 1px solid #fe7f2d;
    font-size: 20px;
    text-align: center;
}

#btn-start:hover {
    background: rgba(0, 0, 0, 0);
    color: #fe7f2d;
    box-shadow: 0 0 2px 0 #fe7f2d inset,
    0 0 3px 1px #fe7f2d;
}

#btn-change-subject{
    background: #c77dff;
    width: 50px;
    height: 30px;
    border-radius: 40px;
}

@media screen and (max-width: 768px) {

    .container {
        width: 400px;
        height: 300px;
    }

    .offer {
        font-size: 35px;
    }

    #minValue, #maxValue, #attempts {
        width: 330px;
        height: 30px;
        margin: auto;
    }

    #userValue {
        width: 300px;
        height: 30px;
        margin: auto;
    }

    /*.container-wrapper, .field-for-userValue {*/
    /*    width: 100%;*/
    /*}*/

    #btn-clear, #btn-start {
        height: 34px;
        width: 150px;
    }

    .btn-generate, .btn-exit {
        height: 34px;
        width: 150px;
    }

    .logo {
        width: 150px;
        font-size: 21px;
    }

    .game-block {
        height: 420px;
        width: 410px;
    }

    .buttons {
        margin: 10px;
    }

    .game-page-window {
        width: 370px;
        height: 120px;
        /*margin-top: 30px;*/
        /*padding-top: 32px;*/
    }

    .greetings, .total-number-of-attempts {
        width: 420px;
        font-size: 24px;;
        line-height: 30px;
    }

    .error {
        font-size: 18px;
        padding: 10px;
    }

    .instruction p {
        line-height: 23px;
        margin-top: 5px;
    }

    .out, .remaining-attempts {
        max-width: 420px;
        font-size: 24px;
        margin: 10px auto;
        line-height: 30px;
    }

    img {
        width: 160px;
        height: 404px;
    }

    .btn-wrapper-start-page {
        width: 340px;
        margin: auto;
    }
}

@media screen and (max-width: 1024px) {

    .container {
        width: 375px;
        height: 310px;
    }

    .instruction {
        width: 275px;
        height: 255px;
        top: 51.5%
    }

    .offer {
        font-size: 41px;
    }

    #minValue, #maxValue, #attempts {
        width: 310px;
        height: 37px;
        margin: auto;
    }

    #userValue {
        width: 300px;
        height: 30px;
        margin: auto;
    }

    .container-wrapper, .field-for-userValue {
        width: 100%;
    }

    #btn-clear, #btn-start {
        height: 37px;
        width: 145px;
    }

    .btn-generate, .btn-exit {
        height: 34px;
        width: 150px;
    }

    .logo {
        width: 150px;
        font-size: 21px;
    }

    .game-block {
        height: 420px;
        width: 410px;
    }

    .buttons {
        margin: 5px;
    }

    .game-page-window {
        width: 340px;
        height: 110px;
    }

    .greetings, .total-number-of-attempts {
        width: 345px;
        font-size: 19px;;
        line-height: 30px;
    }

    .error {
        font-size: 18px;
        padding: 5px;
    }

    .instruction p {
        line-height: 23px;
        margin-top: 5px;
    }

    .out, .remaining-attempts {
        max-width: 345px;
        font-size: 19px;
        margin: 10px auto;
        line-height: 30px;
    }

    img {
        width: 175px;
        height: 367px;
    }

    .btn-wrapper-start-page {
        width: 310px;
        margin: auto;
    }

    .rules, #btn-change-subject, #lang {
        width: 40px;
        height: 24px;
        font-size: 13px;
    }
}

@media screen and (max-width: 540px) {

    .instruction {
        width: 220px;
        height: 205px;
        font-size: 11px;
        line-height: 5px;
    }

    .logo {
        width: 108px;
        font-size: 14px;
    }

    .container {
        min-width: 300px;
        height: 260px;
        width: 100%;
    }

    .offer {
        font-size: 30px;
    }

    #minValue, #maxValue, #attempts {
        width: 260px;
        height: 30px;
        margin: auto;
    }

    .start-page {
        min-height: 300px;
    }

    .offer {
        max-width: 300px;
    }

    img {
        display: none;
    }

    input::placeholder {
        font-size: 11px;
    }

    .input {
        font-size: 9px;
    }

    .btn-wrapper-start-page {
        width: 266px;
        justify-content: space-between;
    }

    #btn-clear, #btn-start {
        height: 30px;
        width: 122px;
        font-size: 15px;
    }

    .btn-generate, .btn-exit {
        height: 34px;
        width: 125px;
        margin: auto;
    }

    .rules, #btn-change-subject, #lang {
        width: 40px;
        height: 18px;
        font-size: 13px;
    }

    .greetings, .total-number-of-attempts {
        width: 297px;
        font-size: 17px;;
        line-height: 22px;
    }

    .game-page-window {
        width: 288px;
        height: 110px;
    }

    .game-block {
        height: 363px;
    }

    #userValue {
        width: 254px;
        height: 28px;
    }

    .buttons {
        height: 28px;
    }

    .error {
        font-size: 16px;
    }

    .btn-generate, .btn-exit {
        height: 28px;
        width: 119px;
    }

    .out, .remaining-attempts {
        font-size: 17px;
        line-height: 22px;
        max-width: 279px;
    }
}

